<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="main">
        <h1 id="title-login">Faça o Login</h1>
        <form action="" method="/">
            <div class="input-form">
                Nome
                <input type="text">
                Senha
                <input type="text">
            </div>            
            <div class="btn-submit">
                <button id="btn-submit-form" type="submit">Entrar</button>
            </div>            
        </form>        
    </div>    
</body>
</html>